In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv("train.csv")

In [222]:
train.head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0
3,YAK/S/00004,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1982,2.5,2009,0,0,42,NIGER,Yes,Single,No,No,1,0
4,YAK/S/00006,Information and Strategy,First Degree or HND,Male,Direct Internal process,3,1990,7.5,2012,0,0,77,AKWA IBOM,Yes,Married,No,No,1,0

##### CHECKING FOR NULL VALUES

In [223]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38312 entries, 0 to 38311
Data columns (total 19 columns):
EmployeeNo                             38312 non-null object
Division                               38312 non-null object
Qualification                          38312 non-null object
Gender                                 38312 non-null object
Channel_of_Recruitment                 38312 non-null object
Trainings_Attended                     38312 non-null int64
Year_of_birth                          38312 non-null int64
Last_performance_score                 38312 non-null float64
Year_of_recruitment                    38312 non-null int64
Targets_met                            38312 non-null int64
Previous_Award                         38312 non-null int64
Training_score_average                 38312 non-null int64
State_Of_Origin                        38312 non-null object
Foreign_schooled                       38312 non-null object
Marital_Status                         38312 non-null object
Past_Disciplinary_Action               38312 non-null object
Previous_IntraDepartmental_Movement    38312 non-null object
No_of_previous_employers               38312 non-null object
Promoted_or_Not                        38312 non-null int64
dtypes: float64(1), int64(7), object(11)
memory usage: 5.6+ MB

In [224]:
train['Qualification'] = train['Qualification'].fillna(train['Qualification'].mode()[0])

#### CHECKING THE CORRELATION BETWEEN ALL RESPECTIVE FEATURES AND THE TARGETS

In [225]:
train.corr()

,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,Promoted_or_Not
Trainings_Attended,1.000000,0.078710,-0.062042,0.056215,-0.044789,-0.007409,0.041065,-0.024345
Year_of_birth,0.078710,1.000000,-0.175572,0.654666,0.025337,0.013627,0.048390,0.017991
Last_performance_score,-0.062042,-0.175572,1.000000,-0.190333,0.276350,0.026587,0.057836,0.119690
Year_of_recruitment,0.056215,0.654666,-0.190333,1.000000,0.076910,0.041995,0.037477,0.012287
Targets_met,-0.044789,0.025337,0.276350,0.076910,1.000000,0.092934,0.077201,0.224518
Previous_Award,-0.007409,0.013627,0.026587,0.041995,0.092934,1.000000,0.072360,0.201434
Training_score_average,0.041065,0.048390,0.057836,0.037477,0.077201,0.072360,1.000000,0.178448
Promoted_or_Not,-0.024345,0.017991,0.119690,0.012287,0.224518,0.201434,0.178448,1.000000

In [226]:
train['Gender'].value_counts()

Male      26880
Female    11432
Name: Gender, dtype: int64

#### ANALYZING BY GENDER

In [227]:
train['Promoted_or_Not'].value_counts()

0    35071
1     3241
Name: Promoted_or_Not, dtype: int64

#### 3241 Staff got promoted out of 38312

In [228]:
train[(train['Gender'] == 'Male')  & (train['Promoted_or_Not']==1)].count()

EmployeeNo                             2223
Division                               2223
Qualification                          2223
Gender                                 2223
Channel_of_Recruitment                 2223
Trainings_Attended                     2223
Year_of_birth                          2223
Last_performance_score                 2223
Year_of_recruitment                    2223
Targets_met                            2223
Previous_Award                         2223
Training_score_average                 2223
State_Of_Origin                        2223
Foreign_schooled                       2223
Marital_Status                         2223
Past_Disciplinary_Action               2223
Previous_IntraDepartmental_Movement    2223
No_of_previous_employers               2223
Promoted_or_Not                        2223
dtype: int64

##### 2223 males were promoted out of 3241 staff
###### 1018 females were promoted

In [229]:
train['Gender'].value_counts()

Male      26880
Female    11432
Name: Gender, dtype: int64

###### Percentage of promoted females

In [230]:
(1018/11432)*100

8.90482855143457

###### Percentage of promoted males

In [231]:
(2223/26880)*100

8.270089285714285

#### ANALYZING BY MARITAL STATUS

In [232]:
train.groupby('Marital_Status').max().sort_values(['Promoted_or_Not'], ascending=False)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
Marital_Status,,,,,,,,,,,,,,,,,,
Married,YAK/S/54807,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,11,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Yes,Yes,More than 5,1
Not_Sure,YAK/S/54736,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,5,2001,12.5,2018,1,1,90,ZAMFARA,Yes,No,Yes,More than 5,1
Single,YAK/S/54808,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,9,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Yes,Yes,More than 5,1

In [233]:
train[(train['Gender']=='Female') & (train['Marital_Status']=='Not_Sure') & (train['Promoted_or_Not']==1)].count()

EmployeeNo                             15
Division                               15
Qualification                          15
Gender                                 15
Channel_of_Recruitment                 15
Trainings_Attended                     15
Year_of_birth                          15
Last_performance_score                 15
Year_of_recruitment                    15
Targets_met                            15
Previous_Award                         15
Training_score_average                 15
State_Of_Origin                        15
Foreign_schooled                       15
Marital_Status                         15
Past_Disciplinary_Action               15
Previous_IntraDepartmental_Movement    15
No_of_previous_employers               15
Promoted_or_Not                        15
dtype: int64

In [234]:
# train[(train['Gender']=='Male') & (train['Marital_Status']=='Single') & (train['Promoted_or_Not']==1)].count()

###### Percentage of promoted males who are married, single, not_sure

In [235]:
(1792/2223)*100

80.61178587494376

In [236]:
(24/2223)*100

1.0796221322537112

In [237]:
(407/2223)*100

18.30859199280252

###### Percentage of promoted females who are married, single, not_sure

In [238]:
(844/1018)*100

82.90766208251473

In [239]:
(159/1018)*100

15.618860510805503

In [240]:
(15/1018)*100

1.4734774066797642

###### Total married Staff

In [241]:
1792+844

2636

In [242]:
(2636/3241)*100

81.33292193767355

###### 81.33% of the total promoted staff are married

#### ANALYZING BY QUALIFICATION

In [243]:
train.groupby('Qualification').max().sort_values(['Promoted_or_Not'], ascending=False)

,EmployeeNo,Division,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
Qualification,,,,,,,,,,,,,,,,,,
First Degree or HND,YAK/S/54808,Sourcing and Purchasing,Male,Referral and Special candidates,11,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
"MSc, MBA and PhD",YAK/S/54805,Sourcing and Purchasing,Male,Referral and Special candidates,11,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
Non-University Education,YAK/S/54783,Sourcing and Purchasing,Male,Referral and Special candidates,5,2001,12.5,2018,1,1,89,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1

In [244]:
train['Qualification'].value_counts()

First Degree or HND         27257
MSc, MBA and PhD            10469
Non-University Education      586
Name: Qualification, dtype: int64

###### Number of males with first degrees

In [245]:
# train[(train['Qualification'] == 'First Degree or HND') & (train['Gender'] == 'Male')].count()

###### Number of females with first degrees

In [246]:
# train[(train['Qualification'] == 'First Degree or HND') & (train['Gender'] == 'Female')].count()

###### Number of promoted males with first degrees

In [247]:
# train[(train['Qualification'] == 'First Degree or HND') & (train['Gender'] == 'Male') & (train['Promoted_or_Not']==1)].count()

###### Number of promoted females with First degrees

In [248]:
# train[(train['Qualification'] == 'First Degree or HND') & (train['Gender'] == 'Female') & (train['Promoted_or_Not']==1)].count()

###### Total promoted staff with First Degrees

In [249]:
1517+660

2177

###### Percentage of First Degrees of the total staff with first degrees

In [250]:
(2177/27257)*100

7.986939134901126

#### (MSc, MBA and PhD) Qualification

**** Number Of Males with (MSc, MBA and PhD) qualification

In [251]:
# train[(train['Qualification'] =='MSc, MBA and PhD') & (train['Gender']=='Male')].count()

****** Number of promoted males with (MSc, MBA and PhD) Qualification

In [252]:
# train[(train['Qualification'] =='MSc, MBA and PhD') & (train['Gender']=='Male') & (train['Promoted_or_Not']==1)].count()

**** Number Of Females with (MSc, MBA and PhD) qualification

In [253]:
# train[(train['Qualification'] =='MSc, MBA and PhD') & (train['Gender']=='Female')].count()

***** Number of promoted females with (MSc, MBA and PhD) Qualification

In [254]:
# train[(train['Qualification'] =='MSc, MBA and PhD') & (train['Gender']=='Female') & (train['Promoted_or_Not']==1)].count()

###### Total promoted Staff with (MSc, MBA and PhD) Qualification

In [255]:
670+342

1012

###### Percentage of the (MSc, MBA and PhD) of the total staff with (MSc, MBA and PhD)

In [256]:
(1012/10469)*100

9.666634826631006

#### Non-University Education

In [257]:
# train[(train['Qualification'] =='Non-University Education') & (train['Gender']=='Male')].count()

In [258]:
# train[(train['Qualification'] =='Non-University Education') & (train['Gender']=='Female')].count()

In [259]:
# train[(train['Qualification'] =='Non-University Education') & (train['Gender']=='Male') & (train['Promoted_or_Not']==1)].count()

In [260]:
# train[(train['Qualification'] =='Non-University Education') & (train['Gender']=='Female') & (train['Promoted_or_Not']==1)].count()

#### Total Number of promoted staff with Non-University Qualification

In [261]:
36+16

52

###### % of promoted staff with (Non-University Qualification)

In [262]:
(52/586)*100

8.873720136518772

#### ANALYZING FOREIGN SCHOOLED

In [263]:
train['Foreign_schooled'].value_counts()

Yes    34995
No      3317
Name: Foreign_schooled, dtype: int64

In [264]:
train.groupby('Foreign_schooled').max().sort_values(['Promoted_or_Not'], ascending=False)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
Foreign_schooled,,,,,,,,,,,,,,,,,,
No,YAK/S/54806,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,10,2001,12.5,2018,1,1,91,ZAMFARA,Single,Yes,Yes,More than 5,1
Yes,YAK/S/54808,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,11,2001,12.5,2018,1,1,91,ZAMFARA,Single,Yes,Yes,More than 5,1

###### Number of Promoted staff, who were foreign schooled

In [265]:
train[(train['Foreign_schooled'] == 'Yes') & (train['Promoted_or_Not'] == 1)].count()

EmployeeNo                             2970
Division                               2970
Qualification                          2970
Gender                                 2970
Channel_of_Recruitment                 2970
Trainings_Attended                     2970
Year_of_birth                          2970
Last_performance_score                 2970
Year_of_recruitment                    2970
Targets_met                            2970
Previous_Award                         2970
Training_score_average                 2970
State_Of_Origin                        2970
Foreign_schooled                       2970
Marital_Status                         2970
Past_Disciplinary_Action               2970
Previous_IntraDepartmental_Movement    2970
No_of_previous_employers               2970
Promoted_or_Not                        2970
dtype: int64

In [266]:
(2970/3241)*100

91.63838321505709

###### Number Of Promoted Staff who were not foreign schooled

In [267]:
train[(train['Foreign_schooled']== 'No') & (train['Promoted_or_Not']==1)].count()

EmployeeNo                             271
Division                               271
Qualification                          271
Gender                                 271
Channel_of_Recruitment                 271
Trainings_Attended                     271
Year_of_birth                          271
Last_performance_score                 271
Year_of_recruitment                    271
Targets_met                            271
Previous_Award                         271
Training_score_average                 271
State_Of_Origin                        271
Foreign_schooled                       271
Marital_Status                         271
Past_Disciplinary_Action               271
Previous_IntraDepartmental_Movement    271
No_of_previous_employers               271
Promoted_or_Not                        271
dtype: int64

In [268]:
(271/3241)*100

8.36161678494292

#### TARGETS

In [269]:
train.groupby('Targets_met').max().sort_values(['Promoted_or_Not'], ascending=False)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
Targets_met,,,,,,,,,,,,,,,,,,
0,YAK/S/54808,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,11,2001,12.5,2018,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
1,YAK/S/54806,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,9,2001,12.5,2018,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1

In [270]:
train['Targets_met'].value_counts()

0    24788
1    13524
Name: Targets_met, dtype: int64

#### Number of staff who met target and were promoted

In [271]:
train[(train['Targets_met'] == 1) & (train['Promoted_or_Not'] == 1)].count()

EmployeeNo                             2288
Division                               2288
Qualification                          2288
Gender                                 2288
Channel_of_Recruitment                 2288
Trainings_Attended                     2288
Year_of_birth                          2288
Last_performance_score                 2288
Year_of_recruitment                    2288
Targets_met                            2288
Previous_Award                         2288
Training_score_average                 2288
State_Of_Origin                        2288
Foreign_schooled                       2288
Marital_Status                         2288
Past_Disciplinary_Action               2288
Previous_IntraDepartmental_Movement    2288
No_of_previous_employers               2288
Promoted_or_Not                        2288
dtype: int64

#### Number of staff who met target and were not promoted

In [272]:
# train[(train['Targets_met']==1) & (train['Promoted_or_Not']==0)].count()

In [273]:
# train[(train['Targets_met']==0) & (train['Promoted_or_Not']==1)].count()

In [274]:
# train[(train['Targets_met']==0) & (train['Promoted_or_Not']==0)].count()

###### % of staff who met target and were promoted

In [275]:
(2288/13524)*100

16.91807157645667

###### % of staff who met target and were not promoted

In [276]:
(11236/13524)*100

83.08192842354333

###### % of staff who did not meet target, yet were promoted

In [277]:
(953/24788)*100

3.844602226883976

###### % of staff who did not meet target, and they were not promoted

In [278]:
(23835/24788)*100

96.15539777311602

###### DISCIPLINE

In [279]:
train.groupby('Past_Disciplinary_Action').max().sort_values(['Promoted_or_Not'], ascending= False)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
Past_Disciplinary_Action,,,,,,,,,,,,,,,,,,
No,YAK/S/54808,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,11,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Single,Yes,More than 5,1
Yes,YAK/S/54447,Sourcing and Purchasing,Non-University Education,Male,Direct Internal process,5,2000,12.5,2018,1,1,81,ZAMFARA,Yes,Single,Yes,More than 5,1

In [280]:
train['Past_Disciplinary_Action'].value_counts()

No     38161
Yes      151
Name: Past_Disciplinary_Action, dtype: int64

In [281]:
train[(train['Past_Disciplinary_Action'] == 'Yes') & (train['Promoted_or_Not'] == 1)].count()

EmployeeNo                             16
Division                               16
Qualification                          16
Gender                                 16
Channel_of_Recruitment                 16
Trainings_Attended                     16
Year_of_birth                          16
Last_performance_score                 16
Year_of_recruitment                    16
Targets_met                            16
Previous_Award                         16
Training_score_average                 16
State_Of_Origin                        16
Foreign_schooled                       16
Marital_Status                         16
Past_Disciplinary_Action               16
Previous_IntraDepartmental_Movement    16
No_of_previous_employers               16
Promoted_or_Not                        16
dtype: int64

In [282]:
train[(train['Past_Disciplinary_Action'] == 'No') & (train['Promoted_or_Not'] == 1)].count()

EmployeeNo                             3225
Division                               3225
Qualification                          3225
Gender                                 3225
Channel_of_Recruitment                 3225
Trainings_Attended                     3225
Year_of_birth                          3225
Last_performance_score                 3225
Year_of_recruitment                    3225
Targets_met                            3225
Previous_Award                         3225
Training_score_average                 3225
State_Of_Origin                        3225
Foreign_schooled                       3225
Marital_Status                         3225
Past_Disciplinary_Action               3225
Previous_IntraDepartmental_Movement    3225
No_of_previous_employers               3225
Promoted_or_Not                        3225
dtype: int64

In [283]:
(16/151)*100

10.596026490066226

In [284]:
(135/151)*100

89.40397350993378

##### AREA OF WORK

In [285]:
train['Division'].value_counts()

Commercial Sales and Marketing                 11695
Customer Support and Field Operations           7973
Sourcing and Purchasing                         5052
Information Technology and Solution Support     4952
Information and Strategy                        3721
Business Finance Operations                     1786
People/HR Management                            1704
Regulatory and Legal services                    733
Research and Innovation                          696
Name: Division, dtype: int64

In [286]:
train.groupby('Division').max().sort_values('Promoted_or_Not').head()

,EmployeeNo,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
Division,,,,,,,,,,,,,,,,,,
Business Finance Operations,YAK/S/54774,Non-University Education,Male,Referral and Special candidates,6,2001,12.5,2018,1,1,90,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
Commercial Sales and Marketing,YAK/S/54807,"MSc, MBA and PhD",Male,Referral and Special candidates,11,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
Customer Support and Field Operations,YAK/S/54805,Non-University Education,Male,Referral and Special candidates,6,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
Information Technology and Solution Support,YAK/S/54802,Non-University Education,Male,Referral and Special candidates,8,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
Information and Strategy,YAK/S/54806,"MSc, MBA and PhD",Male,Referral and Special candidates,5,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1

In [287]:
train['Division'].value_counts()

Commercial Sales and Marketing                 11695
Customer Support and Field Operations           7973
Sourcing and Purchasing                         5052
Information Technology and Solution Support     4952
Information and Strategy                        3721
Business Finance Operations                     1786
People/HR Management                            1704
Regulatory and Legal services                    733
Research and Innovation                          696
Name: Division, dtype: int64

In [288]:
# train[(train['Division']=='People/HR Management') & (train['Promoted_or_Not']==1)].count()

In [289]:
# train[(train['Division']=='Regulatory and Legal services') & (train['Promoted_or_Not']==1)].count()

In [290]:
# train[(train['Division']=='Research and Innovation') & (train['Promoted_or_Not']==1)].count()

In [291]:
# train[(train['Division']=='Commercial Sales and Marketing') & (train['Promoted_or_Not']==1)].count()

In [292]:
# train[(train['Division']=='Customer Support and Field Operations') & (train['Promoted_or_Not']==1)].count()

In [293]:
# train[(train['Division']=='Sourcing and Purchasing') & (train['Promoted_or_Not']==1)].count()

In [294]:
# train[(train['Division']=='Information Technology and Solution Support') & (train['Promoted_or_Not']==1)].count()

In [295]:
# train[(train['Division']=='Information and Strategy') & (train['Promoted_or_Not']==1)].count()

In [296]:
# train[(train['Division']=='Business Finance Operations') & (train['Promoted_or_Not']==1)].count()

**% of promoted staff in the (Business Finance Operations) Division**

In [297]:
(146/1786)*100

8.174692049272117

**% of promoted staff in the (Commercial Sales and Marketing) Division**

In [298]:
(841/11695)*100

7.191107310816588

**% of promoted staff in the(Customer Support and Field Operations) Division**

In [299]:
(704/7973)*100

8.829800576947196

**% of promoted staff in the(Sourcing and Purchasing) Division**

In [300]:
(489/5052)*100

9.679334916864608

**% of promoted staff in the(Information Technology and Solution Support) Division**

In [301]:
(532/4952)*100

10.743134087237479

**% of promoted staff in the(Information and Strategy) Division**

In [302]:
(348/3721)*100

9.352324643912926

**% of promoted staff in the(People/HR Management) Division**

In [303]:
(97/1704)*100

5.692488262910798

**% of promoted staff in the(Regulatory and Legal services) Division**

In [304]:
(41/733)*100

5.5934515688949515

**% of promoted staff in the(Research and Innovation) Division**

In [305]:
(43/696)*100

6.17816091954023

##### TRAININGS_ATTENDED

In [306]:
train['Trainings_Attended'].value_counts()

2     30981
3      5631
4      1244
5       316
6        93
7        28
8         6
10        5
11        4
9         4
Name: Trainings_Attended, dtype: int64

In [307]:
train[(train['Trainings_Attended']== 4) & (train['Promoted_or_Not'] == 1)].count()

EmployeeNo                             92
Division                               92
Qualification                          92
Gender                                 92
Channel_of_Recruitment                 92
Trainings_Attended                     92
Year_of_birth                          92
Last_performance_score                 92
Year_of_recruitment                    92
Targets_met                            92
Previous_Award                         92
Training_score_average                 92
State_Of_Origin                        92
Foreign_schooled                       92
Marital_Status                         92
Past_Disciplinary_Action               92
Previous_IntraDepartmental_Movement    92
No_of_previous_employers               92
Promoted_or_Not                        92
dtype: int64

In [308]:
train.groupby('Trainings_Attended').max().sort_values('Promoted_or_Not', ascending=False)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
Trainings_Attended,,,,,,,,,,,,,,,,,,
2,YAK/S/54808,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
3,YAK/S/54801,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
4,YAK/S/54790,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
5,YAK/S/54788,Sourcing and Purchasing,Non-University Education,Male,Direct Internal process,2000,12.5,2018,1,1,86,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
6,YAK/S/54621,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Referral and Special candidates,1999,12.5,2018,1,1,82,ZAMFARA,Yes,Single,No,Yes,More than 5,1
7,YAK/S/54645,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,1996,12.5,2018,1,0,73,YOBE,Yes,Single,No,Yes,3,1
8,YAK/S/52534,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,1996,12.5,2018,1,0,74,RIVERS,Yes,Single,No,No,4,0
9,YAK/S/33660,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,1995,10.0,2018,1,0,64,OGUN,Yes,Single,No,Yes,1,0
10,YAK/S/54339,Sourcing and Purchasing,First Degree or HND,Male,Direct Internal process,1995,7.5,2018,0,0,67,RIVERS,Yes,Married,No,No,4,0
11,YAK/S/44898,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,1993,7.5,2017,0,0,63,YOBE,Yes,Married,No,No,3,0

###### From the above we can see that staff who have lower number of trainings attended have a higher tendency to be promoted

###### TIME(Year Of Recruitment)

In [309]:
train[(train['Year_of_recruitment']==1998) & (train['Promoted_or_Not']==1)].count()

EmployeeNo                             2
Division                               2
Qualification                          2
Gender                                 2
Channel_of_Recruitment                 2
Trainings_Attended                     2
Year_of_birth                          2
Last_performance_score                 2
Year_of_recruitment                    2
Targets_met                            2
Previous_Award                         2
Training_score_average                 2
State_Of_Origin                        2
Foreign_schooled                       2
Marital_Status                         2
Past_Disciplinary_Action               2
Previous_IntraDepartmental_Movement    2
No_of_previous_employers               2
Promoted_or_Not                        2
dtype: int64

In [310]:
train.groupby('Year_of_recruitment').max().sort_values('Promoted_or_Not', ascending=False)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
Year_of_recruitment,,,,,,,,,,,,,,,,,,
2001,YAK/S/54421,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Referral and Special candidates,6,1981,12.5,1,1,82,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
2010,YAK/S/54794,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Referral and Special candidates,7,1993,12.5,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
2004,YAK/S/54690,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Referral and Special candidates,7,1982,12.5,1,1,86,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
2005,YAK/S/54593,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Referral and Special candidates,6,1984,12.5,1,1,85,YOBE,Yes,Single,Yes,Yes,More than 5,1
2006,YAK/S/54759,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Referral and Special candidates,11,1991,12.5,1,1,90,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
2007,YAK/S/54750,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Referral and Special candidates,11,1991,12.5,1,1,87,ZAMFARA,Yes,Single,No,Yes,More than 5,1
2008,YAK/S/54793,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Referral and Special candidates,6,1992,12.5,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
2009,YAK/S/54736,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Referral and Special candidates,11,1993,12.5,1,1,90,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
2011,YAK/S/54764,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Referral and Special candidates,6,1994,12.5,1,1,90,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
2002,YAK/S/54586,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Referral and Special candidates,8,1981,12.5,1,1,84,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
2012,YAK/S/54796,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Referral and Special candidates,7,1995,12.5,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
2013,YAK/S/54805,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Referral and Special candidates,7,1997,12.5,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
2014,YAK/S/54808,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,8,1996,12.5,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
2015,YAK/S/54799,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,10,1998,12.5,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
2016,YAK/S/54806,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,10,1998,12.5,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
2017,YAK/S/54807,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,11,2001,12.5,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
2003,YAK/S/54620,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,7,1982,12.5,1,0,90,ZAMFARA,Yes,Single,No,Yes,More than 5,1
2018,YAK/S/54802,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,10,2001,12.5,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
1985,YAK/S/16758,Information and Strategy,"MSc, MBA and PhD",Male,Direct Internal process,3,1961,12.5,1,0,79,RIVERS,Yes,Married,No,No,2,1
1999,YAK/S/54393,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,5,1979,12.5,1,0,89,ZAMFARA,Yes,Single,No,Yes,5,1
1998,YAK/S/54167,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,7,1976,12.5,1,0,91,ZAMFARA,Yes,Single,No,Yes,More than 5,1
1997,YAK/S/50716,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,4,1976,12.5,1,1,90,ZAMFARA,Yes,Single,Yes,Yes,5,1
1996,YAK/S/54345,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,6,1975,12.5,1,0,82,RIVERS,Yes,Single,No,Yes,More than 5,1
1994,YAK/S/53748,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,4,1971,12.5,1,0,81,YOBE,Yes,Single,No,Yes,5,1
2000,YAK/S/54692,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Referral and Special candidates,5,1981,12.5,1,0,91,ZAMFARA,Yes,Single,Yes,Yes,More than 5,1
1992,YAK/S/52892,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,3,1971,12.5,1,0,80,RIVERS,Yes,Single,No,No,2,1
1991,YAK/S/49913,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,3,1970,12.5,1,0,76,RIVERS,Yes,Single,No,Yes,5,1
1990,YAK/S/53216,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,3,1968,12.5,1,0,82,YOBE,Yes,Single,No,Yes,2,1
1987,YAK/S/44110,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,4,1963,12.5,1,0,66,TARABA,Yes,Single,No,Yes,5,1
1988,YAK/S/54581,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,3,1965,12.5,0,0,74,OYO,Yes,Not_Sure,No,Yes,2,0
1986,YAK/S/45289,People/HR Management,"MSc, MBA and PhD",Male,Direct Internal process,2,1968,12.5,1,0,73,RIVERS,Yes,Single,No,Yes,2,0
1993,YAK/S/46183,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,3,1973,12.5,1,0,74,YOBE,Yes,Single,No,Yes,5,0
1989,YAK/S/53225,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,3,1968,12.5,1,0,65,TARABA,Yes,Single,No,No,4,0
1995,YAK/S/54618,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Direct Internal process,5,1974,12.5,1,0,79,ZAMFARA,Yes,Single,No,Yes,More than 5,0
1982,YAK/S/31072,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,3,1961,12.5,0,0,40,OYO,Yes,Married,No,No,1,0

##### Analyzing Show that year of recruitment is not a high criteria for Promotion

### PREVIOUS EMPLOYERS

In [311]:
train.groupby('No_of_previous_employers').max()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,Promoted_or_Not
No_of_previous_employers,,,,,,,,,,,,,,,,,,
0,YAK/S/54802,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,10,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,1
1,YAK/S/54807,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,11,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,1
2,YAK/S/54808,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,11,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,1
3,YAK/S/54806,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,11,1999,12.5,2018,1,1,89,ZAMFARA,Yes,Single,Yes,Yes,1
4,YAK/S/54796,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,10,2001,12.5,2018,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,1
5,YAK/S/54771,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,6,2000,12.5,2018,1,1,90,ZAMFARA,Yes,Single,Yes,Yes,1
More than 5,YAK/S/54759,Sourcing and Purchasing,Non-University Education,Male,Referral and Special candidates,6,1999,12.5,2018,1,1,91,ZAMFARA,Yes,Single,Yes,Yes,1

#### CHANNEL OF RECRUITMENT

In [312]:
train['Channel_of_Recruitment'].value_counts()

Agency and others                  21310
Direct Internal process            16194
Referral and Special candidates      808
Name: Channel_of_Recruitment, dtype: int64

In [313]:
train[(train['Channel_of_Recruitment'] == 'Agency and others') & (train['Promoted_or_Not']==1)].count()

EmployeeNo                             1796
Division                               1796
Qualification                          1796
Gender                                 1796
Channel_of_Recruitment                 1796
Trainings_Attended                     1796
Year_of_birth                          1796
Last_performance_score                 1796
Year_of_recruitment                    1796
Targets_met                            1796
Previous_Award                         1796
Training_score_average                 1796
State_Of_Origin                        1796
Foreign_schooled                       1796
Marital_Status                         1796
Past_Disciplinary_Action               1796
Previous_IntraDepartmental_Movement    1796
No_of_previous_employers               1796
Promoted_or_Not                        1796
dtype: int64

In [314]:
train[(train['Channel_of_Recruitment'] == 'Direct Internal process') & (train['Promoted_or_Not']==1)].count()

EmployeeNo                             1347
Division                               1347
Qualification                          1347
Gender                                 1347
Channel_of_Recruitment                 1347
Trainings_Attended                     1347
Year_of_birth                          1347
Last_performance_score                 1347
Year_of_recruitment                    1347
Targets_met                            1347
Previous_Award                         1347
Training_score_average                 1347
State_Of_Origin                        1347
Foreign_schooled                       1347
Marital_Status                         1347
Past_Disciplinary_Action               1347
Previous_IntraDepartmental_Movement    1347
No_of_previous_employers               1347
Promoted_or_Not                        1347
dtype: int64

In [315]:
train[(train['Channel_of_Recruitment'] == 'Referral and Special candidates') & (train['Promoted_or_Not']==1)].count()

EmployeeNo                             98
Division                               98
Qualification                          98
Gender                                 98
Channel_of_Recruitment                 98
Trainings_Attended                     98
Year_of_birth                          98
Last_performance_score                 98
Year_of_recruitment                    98
Targets_met                            98
Previous_Award                         98
Training_score_average                 98
State_Of_Origin                        98
Foreign_schooled                       98
Marital_Status                         98
Past_Disciplinary_Action               98
Previous_IntraDepartmental_Movement    98
No_of_previous_employers               98
Promoted_or_Not                        98
dtype: int64

**% of promoted staff in the (Agency and others) Recriutment**

In [320]:
(1796/21310)*100

8.427968090098545

**% of promoted staff in the (Direct Internal process) Recruitment way**

In [321]:
(1347/16194)*100

8.317895516858096

**% of promoted staff in the(Referral and Special candidates) Recruitment**

In [322]:
(98/808)*100

12.128712871287128